<!DOCTYPE html>
<html ng-app='contratobook'>
  <head >
    <title>Contratobook</title>
    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <base href="/templates">

    <!--STYLES-->
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/bower_components/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
  </head>

  <body layout="column" >
   <!--  <md-toolbar>
    <h2 class="md-toolbar-tools md-title">
      <span>Contratobook</span>
    </h2>
    </md-toolbar> -->
    
    <md-content ng-view layout-class="md-padding" layout='row' flex></md-content>      

    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-50369020-3', 'auto');
    ga('send', 'pageview');

    </script>

    <!--TEMPLATES-->
    <script type="text/javascript" src="/jst.js"></script>
    <!--TEMPLATES END-->

    <!--SCRIPTS-->
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-route/angular-route.min.js"></script>
    <script src="/bower_components/angular-cookies/angular-cookies.min.js"></script>
    <script src="/bower_components/angular-local-storage/dist/angular-local-storage.min.js"></script>
    <script src="/bower_components/hammer.js/hammer.min.js"></script>
    <script src="/bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="/bower_components/angular-material/angular-material.min.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="/bower_components/packery/dist/packery.pkgd.min.js"></script>
    <script src="/bower_components/angular-packery/dist/packery.js"></script>
    <script src="/bower_components/contentful/dist/contentful.min.js"></script>
    <script src="/bower_components/angular-contentful/dist/angular-contentful.min.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/widget-data.js"></script>
    <script src="/js/controllers/companyController.js"></script>
    <script src="/js/controllers/contratoController.js"></script>
    <script src="/js/controllers/dependenciaController.js"></script>
    <script src="/js/controllers/homeController.js"></script>
    <script src="/js/controllers/sidebarController.js"></script>
    <script src="/js/directives/appSidebar.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>