<div ng-include="'/templates/global/sidebar.html'" layout='row'></div>
<div layout='column' flex layout-fill role='main' tab-index='-1' role='main'> 
  <md-content flex layout-fill layout='column'>


    <!-- El Loader -->
    <md-content ng-show='loading' layout-fill layout='column' layout-align='center center' flex>
      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </md-content>

    <!-- Los filtros seleccionados -->
    <md-content class='' layout='row' style="min-height:86px;" ng-show='searchObjectsExists()'>
        <md-content ng-hide='items.length == 0' ng-repeat='(key,items) in selectedItems' layout='column' class='md-padding'>
          <div  md-ink-ripple="#bbb" ng-show='items.length' ng-bind='key'></div>
          <md-button ng-repeat='item in items ' class='menu-item tag' ng-click='removeItem(key,item)' >{{item[key]}}</md-button>
        </md-content>
    </md-content>


    <!-- El listado -->

    <md-list ng-hide='loading' flex>
      <md-item ng-repeat="dependencia in dependencias" >
        <md-item-content layout='column' class='contrato-item'>
          <div layout='row' class="md-tile-content" layout-fill>
            <div flex>
              <h3><a target='_blank' ng-href='{{dependencia.anuncio}}'>{{dependencia.dependencia}}</a></h3>
            </div>
            <h3></h3>
          </div>
        </md-item-content>
        <md-divider ng-if="!$last"></md-divider>
      </md-item>
    </md-list>
  </md-content>
  
</div>