 <div ng-include="'/templates/global/sidebar.html'" layout='row' onload='packery.layout()'></div>
 
 <div id='home-content' flex layout-fill>
 	<packery draggable='false'>
 		<div contentful-entries='content_type=2wKn6yEnZewu2SCCkus4as&amp;order=-sys.createdAt'>
			<packery-object class='item' ng-style='sizePack(entry)' ng-repeat="entry in $contentfulEntries.items">
	  			<img ng-if='entry.fields.featuredImage' ng-src='{{getImageUrl(entry)}}' alt=''/>
	  			<h3>{{entry.fields.title}}</h3>
	  		</packery-object>
  		</div>	  	
  	</packery>
</div>