<div layout='column' flex layout-fill role='main' tab-index='-1' role='main'> 
  <!-- El header -->
  <md-toolbar  ng-hide='loadingCount' class='md-toolbar-tools results-toolbar md-accent'>
    <div flex >
      <div ng-hide='sum == 0'> Monto de contratos : $ {{numberFormat(sum)}} MXN </div>
     </div>
    <div layout='column'>
        <div layout='column'>
            <div>Pagina {{currentPage}} de {{pages}}</div>
            <div>
                <md-button ng-click='prevPage()' > &lt; </md-button>
                <md-button ng-click='nextPage()' > &gt; </md-button>
            </div>
        </div>        
    </div>
  </md-toolbar>      
    
  <md-content flex layout-fill layout='column'>
    <!-- Los filtros seleccionados -->
    <md-content class='' layout='row'>      
        <md-content ng-hide='items.length == 0' ng-repeat='(key,items) in selectedItems' layout='column' class='md-padding'>
          <div  md-ink-ripple="#bbb" ng-show='items.length' ng-bind='key'></div>
          <md-button ng-repeat='item in items ' class='menu-item tag' ng-click='removeItem(key,item)' >{{item[key]}}</md-button>
        </md-content>
    </md-content>

    <!-- El Loader -->
    <md-content ng-show='loading' layout-fill layout='column' layout-align='center center' flex>
      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </md-content>

    <!-- El listado -->
    <md-list ng-hide='loading' flex>
      <md-item ng-repeat="contract in contracts" ng-click='toggleContract(contract)'>
        <md-item-content layout='column'>
          <div layout='row' class="md-tile-content" layout-fill>
            <div flex  >
              <h3><a target='_blank' ng-href='{{contract.anuncio}}'>{{contract.titulo_expediente}} - {{contract.titulo_contrato}}</a></h3>
              <h4>{{contract.proveedor_contratista}}</h4>
              <p>{{contract.tipo_procedimiento}} ({{contract.dependencia}} : {{contract.nombre_de_la_uc}}) </p>
            </div>
            <h3>$ {{numberFormat(contract.importe_contrato)}} {{contract.moneda}}</h3>
          </div>
          <div ng-show='contract.show' class='md-tile-content'>
            <div ng-repeat='(key,value) in contract'>{{key}} : {{value}}</div>
          </div>
        </md-item-content>
        <md-divider ng-if="!$last"></md-divider>
      </md-item>
    </md-list>
  </md-content>
</div>