<md-sidebar layout='column' class="md-sidenav-left md-whiteframe-z2 main-sidenav">
  
  <md-toolbar>
    <h2 class="md-toolbar-tools md-title">
      <span>Contratobook</span>
    </h2>
  </md-toolbar>

  <md-content flex layout='column' >

    <a href='/' class='menu-item menu-title' ng-class='path == "/" ? "selected" : ""' md-ink-ripple="#bbb" ng-click='path = "/"' >Inicio</a>
    <a href='/contratos' class='menu-item menu-title' ng-class='path == "/contratos" ? "selected" : ""' md-ink-ripple="#bbb" ng-click='path = "/contratos"' >Contratos</a>

    <md-content ng-show='path == "/contratos"' flex class='md-padding'>

      <md-input-container label="provedor" class="ng-isolate-scope md-default-theme ng-valid md-input-has-value" aria-invalid="false">

        <label for="dependenciaInput" class="ng-binding">Dependencia</label>
        <input 
          id='dependenciaInput'
          type='text' 
          ng-model='dependencia'
          typeahead-min-length="3"
          typeahead-wait-ms='500'
          typeahead='dependencia.dependencia for dependencia in getAutocomplete($viewValue,"dependencia","dependencia")' 
          typeahead-on-select='addItem($item,"dependencia");dependencia=""'
          />

      </md-input-container>


      <md-input-container label="provedor" class="ng-isolate-scope md-default-theme ng-valid md-input-has-value" aria-invalid="false">

        <label for="unidadInput" class="ng-binding">Unidad Compradora</label>
        <input 
          id='unidadInput'
          type='text' 
          ng-model='unidad'
          typeahead-min-length="3"
          typeahead-wait-ms='500'
          typeahead='unidad.nombre_de_la_uc for unidad in getAutocomplete($viewValue,"nombre_de_la_uc","unidadCompradora")' 
          typeahead-on-select='addItem($item,"nombre_de_la_uc");unidad=""'
          />

      </md-input-container>


      <md-input-container label="provedor" class="ng-isolate-scope md-default-theme ng-valid md-input-has-value" aria-invalid="false">

        <label for="provedorInput" class="ng-binding">Empresa</label>
        <input 
          id='provedorInput'
          type='text' 
          ng-model='provedor'
          typeahead-min-length="3"
          typeahead-wait-ms='500'
          typeahead='company.proveedor_contratista for company in getAutocomplete($viewValue,"proveedor_contratista","empresa")' 
          typeahead-on-select='addItem($item,"proveedor_contratista");provedor=""'
          />

      </md-input-container>          
       
      <h4 class="subtitle">Años:  {{year.start}} -  {{year.end}}</h4>
      <div layout-align='center center'>
        <md-slider flex='80' ng-model="year.start" min="2000" max="{{year.end}}" ng-mouseup="sliderup($event)" aria-label="año" ></md-slider>

        <md-slider flex='80' ng-model="year.end" min="{{year.start}}" ng-mouseup="sliderup($event)" max="2016" aria-label="año" ></md-slider>           
      </div>        
      <!-- <h4 class="favorites-heading subtitle">Favoritos
      <i class="fa fa-star-o fa-2x star" title="Guardar página actual" ng-click="bookmark($event)"></i></h4>
      <div class="clear"></div>
      <md-list class="favorites-list">
        <md-list-item ng-repeat="favorite in favorites" ng-click="goToBookmark(favorite.url, $event)">
          <p class="favorite-name">{{ favorite.name }}</p>
          <i class="fa fa-star fa-2x star mini-star" title="Eliminar Favorito" ng-click="confirmRemoveBookmark($event, favorite)" ></i>
          <div class="md-ripple-container"></div>
          <div class="clear"></div>
        </md-list-item>
      </md-list>      
 -->
    </md-content>

    <a href='/dependencias' class='menu-item menu-title' ng-class='path == "/dependencias" ? "selected" : ""' md-ink-ripple="#bbb" ng-click='path = "/dependencias"' >Dependencias</a>

    <md-content ng-show='path == "/dependencias"' flex class='md-padding'>
      
      <md-input-container label="provedor" class="ng-isolate-scope md-default-theme ng-valid md-input-has-value" aria-invalid="false">

        <label for="dependenciaInput" class="ng-binding">Dependencia</label>
        <input 
          id='dependenciaInput'
          type='text' 
          ng-model='dependencia'
          typeahead-min-length="3"
          typeahead-wait-ms='500'
          typeahead='dependencia.dependencia for dependencia in getAutocomplete($viewValue,"dependencia","dependencia")' 
          typeahead-on-select='addItem($item,"dependencia");dependencia=""'
          />
      </md-input-container>
    </md-content>


    <a href='/empresas' class='menu-item menu-title' ng-class='path == "/empresas" ? "selected" : ""' md-ink-ripple="#bbb" ng-click='path = "/empresas"' >Empresas</a>

    <md-content ng-show='path == "/empresas"' flex class='md-padding'>
      <md-input-container label="empresa" class="ng-isolate-scope md-default-theme ng-valid md-input-has-value" aria-invalid="false">
        <label for="empresaInput" class="ng-binding">Empresa</label>
        <input id='empresaInput' type='text' ng-model='empresa' ng-change="query(empresa,'proveedor_contratista')" ng-model-options="{debounce: 1000}"/>
      </md-input-container>
      <md-input-container label="provedor" class="ng-isolate-scope md-default-theme ng-valid md-input-has-value" aria-invalid="false">

        <label for="dependenciaInput" class="ng-binding">Dependencia</label>
        <input 
          id='dependenciaInput'
          type='text' 
          ng-model='dependencia'
          typeahead-min-length="3"
          typeahead-wait-ms='500'
          typeahead='dependencia.dependencia for dependencia in getAutocomplete($viewValue,"dependencia","dependencia")' 
          typeahead-on-select='addItem($item,"dependencia");dependencia=""'
          />
      </md-input-container>
    </md-content>

  </md-content>
</md-sidebar>