@import 'home.less';

.main-sidenav{z-index:60;width:290px;}
.menu-item.tag{font-size:12px;text-transform:none;overflow:hidden;padding:0 16px;}
.menu-item {
  background: none;
  border-width: 0;
  cursor: pointer;
  display: block;
  color: #333;
  font-size: inherit;
  line-height: 20px;
  opacity: 1;
  margin: 0;
  outline: none;
  padding: 10px 28px;
  position: relative;
  text-align: left;
  text-decoration: none;
  text-transform: none;
  z-index: 1;
  -webkit-transition: 0.45s cubic-bezier(0.35, 0, 0.25, 1);
  -webkit-transition-property: max-height, background-color, opacity;
  -moz-transition: 0.45s cubic-bezier(0.35, 0, 0.25, 1);
  -moz-transition-property: max-height, background-color, opacity;
  transition: 0.45s cubic-bezier(0.35, 0, 0.25, 1);
  transition-property: max-height, background-color, opacity;
}
.md-toolbar-tools {
  font-size: 16px;
}
.md-title {
  font-size: 20px;
}
.menu-item.selected {
  background-color:#e0e0e0;
}
.menu-item.ng-hide {
  max-height: 0;
  opacity: 0;
}
.menu-item:hover {
  color: #999;
}
.menu-item:focus {
  font-weight: bold;
}
.menu-item.menu-title {
  color: #888;
  font-size: 14px;
  padding-left: 16px;
  text-align: left;
  text-transform: uppercase;
  transition: color 0.35s cubic-bezier(0.35, 0, 0.25, 1);
}
.menu-item.menu-title:hover,
.menu-item.menu-title.active {
  color: #1976d2;
}

.dropdown-menu{
  display:block;
  position:absolute;
  top:0;left:0;
  background:white;
  padding:0;margin:0;
  z-index:50000;
  box-shadow: 1px 1px 3px #222;
}

.dropdown-menu li{
  list-style-type: none;
  font-size:12px;
  padding:9px 7px;
  display:block;
  border-bottom:1px solid #E0E0E0;
}

.dropdown-menu li.active{
  background-color:#03A9F4;
  color:white;
  font-weight: bold;
}

.results-toolbar{background-color: #017BB0!important}

/*#home-content .story{background-color:#40B9EE;position:relative;overflow:hidden;}
#home-content .story img{position:absolute;margin:0;top:0;left:0;z-index:0;opacity: .6}
#home-content .story .title{z-index:2;display:block;position:absolute;right:0;bottom:0;background-color:rgba(200,200,200,.5);font-size:24px;padding:7px 25px;margin:0;border-radius:0!important;text-transform: none}
#home-content .story:hover img{opacity: 1}
#home-content .story:hover .title{background-color:rgba(200,200,200,.9)}
#home-content .story.story-1{height:300px;}
#home-content .story.story-2{height:150px;background-color:#0FAEF3}
#home-content .story.story-2 .title{font-size:12px;}
#home-content .story.story-3{height:200px;background-color:#015C83}
#home-content .story.story-3 .title{font-size:13px;}
#home-content .story.story-4{height:450px;background-color:#017BB0  }
#home-content .story.story-4 .title{font-size:26px;}*/

md-list-item .md-secondary-container, md-list-item .md-secondary, md-list-item .md-list-item-inner .md-secondary-container, md-list-item .md-list-item-inner .md-secondary {
  margin-left: 16px;
  position: absolute;
  right: 16px;
  top: 50%;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
}
.star {
  float: right;
  margin-top: 0px;
  color: #FFDC00;
  font-size: 24px;
}
.star:hover {
  cursor: pointer;
}
.mini-star {
  font-size: 20px;
  margin-right: 2px;
  margin-top: 2px;
}
.favorites-heading {
  float: left;
  height: 30px;
  line-height: 30px;
  width: 100%;
  margin-bottom: 0px;
}
.favorite-name {
  float: left;
  margin-bottom: 3px;
  margin-top: 3px;
  font-size: 14px;
}
.clear {
  clear: both;
}

.contrato-item {
  padding:0px 20px;
}
.contrato-item h3 {
  font-size: 14px;
}
.contrato-item h4 {
  font-size: 14px;
  margin-top: 0px;
}
.contrato-item p {
  font-size: 14px;
  margin-top: 0px;
}
md-input-container {
  padding-bottom: 5px;
}
md-slider {
  height: 32px;
}
.subtitle {
  margin-bottom: 8px;
}
.favorites-list > md-list-item > button{
  padding: 0 0px;
}
.favorites-list > md-list-item > button > div > p {
  padding: 0 10px;
}
